* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: auto;
    width: 100%;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
}
.banner-section{
    
    width: 100%;
    height: 300px;
}
.category-section {
    
    width: 100%;
    height: 230px;
}

.arrival-section {
    width: 100%;
    height: 150px;
}
.discount-section{
    
    width: 100%;
    height: 150px;

}
.category-section ul li  {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    width: 100px;
    height: 150px;
    text-align: center;
     justify-content: center;
    align-items: center;
    margin: 15px;
    border: 3px double black;
}





.category-section ul li img {
    width: 100%;
}

.arrival-section ul li {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 200px;
    height: 200px;
    margin: 20px;

    margin-left: 20px;
    border: 4px double black;
}

.category-section li:hover {
    transform: scale(1.2);
}
.sub-section ul li:hover{
    transform: scale(1.2);
}

.sub-section ul li img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}
.sub-section {
    border: 5px solid black;
}


.sub-section ul {
    position: relative;
}
.sub-section span{
    position: absolute;
    
}

.banner-2 {
    position: relative;
    top: 350px;
}
.discount-section {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    top: 350px;
    width: 100vw;
    height: auto;
    padding: 40px;
}
.discount-section img {
    width: 300px;
    height: 300px;
    margin: 5px;
}


.footer {
    position: relative;
    top: 750px;
}

.footer{
    width: 100%;
    min-width: 100vw;
    position: relative;
    top: 450px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:  white;
    justify-content: center;
    align-items: center;
}
.company h2 {
    margin-left: 20px;
}
.Products ul  {
    display: flex; 
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Product-details{
    display: flex;
    
}
0
.Products-details{
    display: flex;
    flex-direction: row;
}

.Pro-left{
    width: 100%;
    max-width: 50%;
    border: 1px solid black;
  }

  .Pro-left img {
    width: 500px;
    height: 500px;
    padding-left: 50px;
  }

.Pro-right {
    width: 100%;
    max-width: 50%;
    border: 1px solid black;
    padding: 20px;
}
.pro-button {
    width: 100%;

}

.addBtn,
.buyBtn {
    width: 10rem;
    height: 3rem;
    margin: 10px;
}

.addBtn {
    background-color: orangered;
    color: white;

}
.buyBtn {
    background-color: aquamarine;
}

